<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Register - Employee</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="/styles/master.css">

	<script type="text/javascript" src="/scripts/master.js" defer></script>
	<script type="text/javascript" src="/scripts/employeeDetail.js" defer></script>
	<script defer>
	function myFunction()
	{
		var firstn = getElementById("fName").value;
		var lastn = getElementById("lName").value;
		var password = getElementById("password").value;
		var passconfirm = getElementById("passwordConfirm").value;
		var etype = getElementById("employeeType");
		
		if(firstn === "") //first name cant be blank
		{
			alert("Please enter your first name");
			return false;
		}
		
		if(lastn === "") //last name cant be blank
		{
			alert("Please enter your last name");
			return false;
		}
		
		if(password == "") //password cant be blank
		{
			alert("Please enter your password");
			return false;
		}
		
		if(password != passconfirm) //password and passwordConfirm must match
		{
			alert("Passwords do not match");
			return false;
		}
		
		if(etype.value) //employeeType must be one of the selected options
		{
			return true;
		}
		else //if it is not then create an alert
		{
			alert("This is not a valid type of employee");
			return false;
		}		
	}	
	</script>
</head>

<body>

	<div class="header">
		<h1 class="primary-message">Employee Detail</h1>
	</div>

	<div id="main" class="main">
		<div id="error" th:class="${#strings.isEmpty(errorMessage)} ? hidden : ''">
			<h4 id="errorMessage" class="error-message" th:text="${errorMessage}"></h4>
		</div>



		<div class="inputContent">
			<table id="employeeDetails">
				<tbody>
					<tr class="hidden">
						<td>ID:</td>
						<td>
							<input id="employeeId" type="hidden" th:value="${!employee.isEmpty} ? ${employee.id} : ''" />
						</td>
					</tr>
					<tr class="hidden">
						<td>Manager ID:</td>
						<td>
							<input id="employeeManagerId" type="hidden" th:value="${!employee.isEmpty} ? ${employee.managerId} : ''" />
						</td>
					</tr>
					<tr th:class="${employee.isEmpty} ? hidden : ''">
						<td class="label">Employee ID:</td>
						<td>
							<input id="employeeEmployeeId" type="text" th:value="${!employee.isEmpty} ? ${employee.employeeId} : ''" class="update" disabled />
						</td>
					</tr>
					<!-- TODO: Other employee inputs -->
				<form action="" method = "POST" onsubmit="myFunction()"> 
				  <label for="fName">First name:</label>
				  <input type="text" id="fName" name="fName"><br><br>
					<label for="lName">Last name:</label>
				  <input type="text" id="lName" name="lName"><br><br>
				  <label for="password">Password:</label>
				  <input type="password" id="password" name="password"><br><br>
					<label for="passwordConfirm">Confirm password:</label>
					<!-- JS function to make sure the passwords are the same? -->
				  <input type="password" id="passwordConfirm" name="passwordConfirm"><br><br>

					<label for="employeeType">Choose an employee type:</label>
					<select id="employeeType">
  				<option value="cashier">Cashier</option>
  				<option value="shiftManager">Shift Manager</option>
  				<option value="shiftManager">General Manager</option><br><br>
					</select>
					<br>
					<button type="button" onclick="alert('Saved!')">Save </button>
					<!-- Need the server side to do a put request -- >
					</form>

					<br>

				</tbody>
			</table>
		</div>

		<!-- TODO: An action element to initiate a save -->

		<div id="employeeSavedAlertModal" class="modal animate-opacity-show">
			<div class="modal-content">
				<div class="container gray-blue">
					<h1>
						<span>Employee</span><br />
						<span>Saved</span>
					</h1>
				</div>
			</div>
		</div>
	</div>
<!--
	<div class="footer" th:classappend="${employee.isInitialEmployee} ? hidden : ''">
		 Needs to navigate to the sign in page and neither of these work right now  -->
	</div>


	<img id = "signOut" alt="Sign Out" src ="Sign-Out.svg" onclick="makeRequest()" width="50" height="50"/>

</body>

</html>
