<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Sign In Page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="/styles/master.css">

	<script type="text/javascript" src="/scripts/master.js" defer></script>

	<script defer>

		function myFunction() {
  	alert("The form was submitted but this needs to be the client side function");
		// this functions hould be done by Sarah I believe; Should be fairly simple
		}

	</script>


</head>

<body>
	<div class="header">
		<h1 class="primary-message"> Welcome! </h1>
	</div>

	<div id="main" class="main">
		<div id="error" th:class="${#strings.isEmpty(errorMessage)} ? hidden : ''">
			<h4 id="errorMessage" class="error-message" th:text="${errorMessage}"></h4>
		</div>
	</div>

<!-- I'm not sure where to send the information yet, for right now it's going to /signIn -->
	<form action="/signIn" method = "POST" onsubmit="myFunction()">
  <label for="employeeId">Employee ID:</label>
  <input type="number" id="employeeId" name="employeeId"><br><br>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password"><br><br>
  <input type="submit" value="Sign In">
	</form>



</body>

</html>

